<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <sources>

      <source name="Microsoft.Owin.Host.SystemWeb.CallContextAsyncResult">
        <listeners>
          <add name="Owin" />
        </listeners>
      </source>
      <source name="Microsoft.Owin.Host.SystemWeb.OwinAppContext">
        <listeners>
          <add name="Owin" />
        </listeners>
      </source>
      <source name="Microsoft.Owin.Host.SystemWeb.OwinCallContext">
        <listeners>
          <add name="Owin" />
        </listeners>
      </source>
      <source name="Microsoft.Owin.Host.SystemWeb.SharedTimer">
        <listeners>
          <add name="Owin" />
        </listeners>
      </source>
      <source name="Microsoft.Owin.Host.SystemWeb.ShutdownDetector">
        <listeners>
          <add name="Owin" />
        </listeners>
      </source>
      <source name="Microsoft.Owin.Host.SystemWeb.WebSockets.OwinWebSocketWrapper">
        <listeners>
          <add name="Owin" />
        </listeners>
      </source>

      <source name="SignalR.Transports.WebSocketTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ServerSentEventsTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ForeverFrameTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.LongPollingTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.TransportHeartBeat">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      
      <source name="SignalR.ScaleoutMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.SqlMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.ServiceBusMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.RedisMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source> 
      
    </sources>
    <switches>
      <add name="Microsoft.Owin.Host.SystemWeb" value="Verbose" />
      <add name="SignalRSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="Owin"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="owin.log.txt" />
      <add name="SignalR-Transports"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="transports.log.txt" />
      <add name="SignalR-Bus"
         type="System.Diagnostics.TextWriterTraceListener"
         initializeData="bus.log.txt" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>